.App {
  @media screen and(max-width:850px) {
    background: #f1f3f5;
  }
  .post-count {
    display: none;

    @media screen and(max-width:850px) {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4.4% 22px;
      span {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.01em;

        color: #212529;
      }
      select {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.01em;

        color: #212529;
        background: #f1f3f5;
        border-radius: 4px;
        padding: 6px 10px;
        border: 0;
      }
    }
  }
  .mobile-edit-btn {
    display: none;
    @media screen and(max-width:850px) {
      display: block;
      position: fixed;
      right: 4.4%;
      bottom: 4.4%;
    }
  }
  .subbar-wrapper {
    width: calc(100% - 27.6%);
    margin: auto;
    padding-top: 47px;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 33%);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    z-index: 10;
    position: sticky;
    top: 73px;
    background-color: white;
    @media screen and(max-width:850px) {
      display: none;
    }
    .active {
      color: #000000 !important;
      border-bottom: 1px solid #000000 !important;
    }
    .elements {
      display: flex;
    }
    .sub-elements {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #8a8a8a;
      border-bottom: 1px solid white;
      padding-bottom: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
    .btn-wrapper {
      display: flex;
      button {
        width: 133px;
        height: 36px;
        padding: 0;
        border: 0;
        outline: none;
        cursor: pointer;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and(max-width:950px) {
          display: none;
        }
      }
      .post-btn {
        background: #edeef0;
        border-radius: 4px;
        margin-right: 16px;
        svg {
          margin-left: 5px;
        }
      }
      .join-btn {
        background: #2f6ce5;
        border-radius: 4px;
        color: #ffffff;
        svg {
          margin-right: 5px;
        }
      }
    }
  }

  .posts-wrapper {
    width: calc(100% - 27.6%);
    margin: auto;
    display: flex;
    justify-content: space-between;
    @media screen and(max-width:800px) {
      width: 100%;
    }
    .posts-container {
      margin-top: 28px;
      @media screen and(max-width:800px) {
        width: 100%;
        margin-top: 0;
      }
    }
    .location-wrapper {
      width: 250px;
      margin-top: 50px;
      margin-left: 10px;
      @media screen and(max-width:800px) {
        display: none;
      }
      input {
        border: 0;
        outline: none;
      }
      .location-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 11px;
        border-bottom: 1px solid #b8b8b8;
        & > div {
          display: flex;
          font-family: IBM Plex Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          color: #000000;
        }
      }
      .location-message {
        display: flex;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;

        color: #000000;
        margin-top: 32px;
        opacity: 0.5;
        svg {
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }
  }
}
